.page {
  --background-color: #000028;
  --background-image: url(../images/cover-image-dark.png);
  --font-family: "IBM Plex mono", sans-serif;
  --font-size: 18px;
  --focus-button-border-color: #ff0070;
  --hover-button-border-color: rgba(255, 0, 112, 0.4);
  --line-height: 23.4px;
  --main-color: #ff0070;
  --subtitle-background-color: #ff0070;
  --subtitle-main-color: #ff0070;
  --text-general-color: #f1b2ce;
  --text-accent-color: #000028;
  --title-accent-color: #db00ff;
  --visibility-settings: visible;
}
